<div class="loan-card">
  <div class="loan-card-header">
    {{index}}. {{loan.name}} # {{loan.id}}
  </div>
  <div class="loan-card-balance">
    <div>Balance</div>
    <div>${{loan.balance}}</div>
    <div><label><input type="checkbox"> Top Up</label></div>
  </div>
  <div class="loan-card-detail">
    <div class="interest">
      <div>Balance includes Interest of</div>
      <div>${{loan.interest}}</div>
    </div>
    <div class="repay-fee">
      <div>Early repayment fee</div>
      <div>${{loan.earlyPaymentFee}}</div>
    </div>
    <div class="payout-amt">
      <div>Payout/Carryover amount</div>
      <div>${{loan.payoutAmount}}</div>
      <div>This amount will be carried over</div>
    </div>
  </div>
</div>