.loan-card {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
    grid-auto-rows: minmax(30px, auto);
    width: 700px;
    margin-bottom: 20px;
}

.loan-card-header {
    background-color: rgb(233, 233, 233);
    border-bottom: 1px solid black;
    padding:15px;
}

.loan-card-balance {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid black;
    padding:15px;
}

.loan-card-balance > div {
    grid-column: auto;
    
}

.loan-card-detail {
    display: none;
}

.display-card-detail {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin:15px;
    grid-gap: 5px;
}

.loan-card-detail > div {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}
