.loan-detail-container {
  padding-left: 10em;
}

@media(max-width: 1024px) {
    .loan-detail-container {
        padding-left: 2em;
      }
}

@media(max-width: 600px) {
  .loan-detail-container {
    padding-left: 0;
  }
}
