.notification > div {
    background-color: rgb(233,233,233);
    padding: 13px 5px 13px 30px;
    width: 360px;
    border-radius: 5px;
}

.notification-error {
    border-left: 5px solid darkred;
}

.notification-warning {
    border-left: 5px solid darkorange;
}