<div id="app-header">
  <div id="headerText">
    <h3>Personal Loan TopUp or Apply</h3>
  </div>
  <div id="header-tl">
    <div id="app-carryoveramount">
      <app-carry-over-amount></app-carry-over-amount>
    </div>
  </div>
  <div id="header-tr">
    <div id="app-btn-apply-amt">
      <app-btn-apply-amount></app-btn-apply-amount>
    </div>
  </div>
  <div id="header-bl">
    <div id="app-empty-div"></div>
  </div>
  <div id="header-br">
    <div id="app-btn-apply-new-loan">
      <app-btn-apply-new-loan></app-btn-apply-new-loan>
    </div>
  </div>
</div>
